body{
  background: url('pexels-abdghat-1631677.jpg');
}


h1{
  color: #000000;
  color: #0000ff;
  color: #04ff0093;
  color: #ff000032;

  
}


p{
  color: rgb(255, 255, 255);
  color: rgb(0,255,0);
  color: rgb(0, 0, 255);
  color: rgba(0,0,0,0.5)
}