@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





h1{
  font-family: serif;
  font-family: sans-serif;
  font-family: monospace;
  font-family: cursive;
  font-family: fantasy;
  font-family: roboto;
  font-family: 'lato', sans-sarif;


  /* Serif Font */
  font-family: 'Times New Roman', Times, serif;
  font-family: Georgia, 'Times New Roman', Times, serif;

  /* Sans-Sarif Font */
  font-family: Arial, Helvetica, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* Monospace Font  */
  font-family: 'Courier New', Courier, monospace;


  /* Fantasy Font  */
  font-family: papyrus;


  /* cursive Font  */
  font-family: Brush Script MT;
}

h2{
  font-size: 100%;
  font-size: 25px;
  font-size: 2em;
  font-style: italic;
  font-style: oblique;
  font-weight: bold;
}


h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h4{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.h4{
  font-size: 40px;
  font-variant: small-caps;  
}