h1, p, span,a, h3{
  background-color: tomato;
}

h1{
  display: inline-block;
}

span{
  display: none;
  display: block;
}

a.btn{
  background-color: violet;
  color: white;
  padding: 10px 20px;
}