:root{
  --childBody: #8e44ad;
}


.wrapper{
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

.hi{
  background: #e67e22;
  padding: 10px;
  text-align: center;
  color: white;
}


.child{
  background: var(--childBody);
  color: white;
  padding: 15px;
  margin-top: 10px;
}

.child p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.child a{
  padding: 10px 15px;
  display: inline-block;
  background: #e67e22;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}